@page
@model DentistBooking.Pages.StaffPages.Check_upSchedules.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CheckupSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.TimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.TimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.TimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.TimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckupSchedule.Dentist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckupSchedule.Dentist.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CheckupSchedule.ScheduleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
