@page
@model DentistBooking.Pages.StaffPages.Check_upSchedules.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h1>Check-Up Schedules</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].TimeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupSchedule[0].Dentist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckupSchedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
                @if(item.Status == true)
                {
                    <td>Active</td>
                } else {<td>Inactive</td>}
                @* <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DentistName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @if (Model.CheckupSchedule.HasPreviousPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.CheckupSchedule.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
    }
    else
    {
        <span>Previous</span>
    }

    @if (Model.CheckupSchedule.HasNextPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.CheckupSchedule.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
    }
    else
    {
        <span>Next</span>
    }
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>