@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@using X.PagedList.Mvc.Core
@model DentistBooking.Pages.CustomerPage.InitialPageModel

@{
    ViewData["Title"] = "Services";
    Layout = "/Pages/Shared/_CustomerLayout.cshtml";
}

<h1>Services</h1>
<table class="table table-bordered table-striped bg-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Services[0].ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services[0].Status)
        </th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Services.IsNullOrEmpty())
    {
        @foreach (var item in Model.Services)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Book" asp-route-id="@item.ServiceId">Book</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>No service found</td>
        </tr>
    }
    
    </tbody>
</table>

<div class="pagination">
    @Html.PagedListPager(Model.Services, pageNumber => Url.Page("./InitialPage", new { PageNumber = pageNumber, PageSize = Model.PageSize }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>

<script>


</script>