@page
@model DentistBooking.Pages.StaffPages.MedicalRecords.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicalRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MediaRecordId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MediaRecordId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MediaRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (Model.MedicalRecord.HasPreviousPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.MedicalRecord.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
    }
    else
    {
        <span>Previous</span>
    }

    @if (Model.MedicalRecord.HasNextPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.MedicalRecord.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
    }
    else
    {
        <span>Next</span>
    }
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>