@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model DentistBooking.Pages.StaffPages.DentistSlots.ViewDentistSlot

@{
Layout = "~/Pages/Shared/_StaffLayout.cshtml";
var dentistSlotError = TempData["ErrorDentistSlot"] as string;
var dentistSlotSuccess = TempData["SuccessDentistSlot"] as string;
}

<head>
    <title>Select Dentist and Date</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .btn-action {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Select Dentist and Date</h2>
    <div id="customAlertPlaceholder"></div>

    <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#createSlotModal">
        Create Dentist Slot
    </button>

    <form method="post" asp-page-handler="ViewDentistSlot">
        <div class="form-group">
            <label for="dentistSelect">Select Dentist:</label>
            <select id="dentistSelect" class="form-control" asp-for="SelectedDentistId">
                @foreach (var dentist in Model.Dentists)
                {
                <option value="@dentist.UserId">@dentist.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="datePicker">Select Date:</label>
            <input type="date" id="datepicker" class="form-control" asp-for="SelectedDate">
        </div>
        <button type="submit" class="btn btn-primary btn-block">View Dentist Slot</button>
    </form>

    @if (!Model.DentistSlots.IsNullOrEmpty() && Model.DentistSlots.Count > 0)
    {
    <div class="table-responsive mt-4">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Room Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var slot in Model.DentistSlots)
            {
            <tr>
                <td>@slot.TimeStart.ToString("HH:mm")</td>
                <td>@slot.TimeEnd.ToString("HH:mm")</td>
                <td>@slot.Room.RoomNumber</td>
                <td>
                    @if(slot.Status == false)
                    {
                        <form method="post" asp-page-handler="Reactivate" style="display:inline;">
                            <input type="hidden" name="slotId" value="@slot.DentistSlotId"/>
                            <button type="submit" class="btn btn-success btn-action">Reactivate</button>
                        </form>
                        <form method="post" asp-page-handler="Delete" style="display:inline;">
                            <input type="hidden" name="slotId" value="@slot.DentistSlotId"/>
                            <button type="submit" class="btn btn-danger btn-action" disabled="disabled">Delete</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Reactivate" style="display:inline;">
                            <input type="hidden" name="slotId" value="@slot.DentistSlotId"/>
                            <button type="submit" class="btn btn-success btn-action" disabled="disabled">Reactivate</button>
                        </form>
                        <form method="post" asp-page-handler="Delete" style="display:inline;">
                            <input type="hidden" name="slotId" value="@slot.DentistSlotId"/>
                            <button type="submit" class="btn btn-danger btn-action">Delete</button>
                        </form>
                    }
                   
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    }
    else if(Model.DentistSlots.IsNullOrEmpty())
    {
    <div class="alert alert-warning" role="alert">
        No slots found for the selected dentist and date.
    </div>
    }
</div>

<!-- Create Dentist Slot Modal -->
<div class="modal fade" id="createSlotModal" tabindex="-1" aria-labelledby="createSlotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSlotModalLabel">Create Dentist Slot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createSlotForm" asp-page-handler="CreateDentistSlot">
                    <input type="hidden" id="hiddenDentistId" name="SelectedDentistId" asp-for="SelectedDentistId" />
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="datePicker">Select Date:</label>
                        <div class="col-sm-9">
                            <input type="date" id="datePicker" class="form-control" asp-for="SelectedDateForDentist"
                                   min="@DateTime.Now.ToString("yyyy-MM-dd")"
                                   value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Slot Time Range</label>
                        <div class="col-sm-9">
                            <select id="slotTimeRange" name="SlotTimeRange" asp-for="SlotTimeRange" class="form-control" required>
                                <option value="08:00-12:00">08:00-12:00</option>
                                <option value="13:00-17:00">13:00-17:00</option>
                                <option value="17:00-19:30">17:00-19:30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Room</label>
                        <div class="col-sm-9">
                            <select id="roomId" name="RoomId" class="form-control">
                                @if (Model.Rooms != null && Model.Rooms.Count > 0)
                                {
                                    @foreach (var s in Model.Rooms)
                                    {
                                    <option value="@s.RoomId">@s.RoomNumber</option>
                                    }
                                }
                                else
                                {
                                <option value="0">No room available</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-success btn-block">Create Dentist Slot</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    })

    const dateControl = document.querySelector('input[type="date"]');
    const today = new Date().toISOString().split('T')[0];
    dateControl.value = today;

    $('#createSlotModal').on('show.bs.modal', function (event) {
        var selectedDentistId = $('#dentistSelect').val();
        console.log(selectedDentistId);
        $('#hiddenDentistId').val(selectedDentistId);
    });

    var dentistSlotError = '@dentistSlotError';
    if (dentistSlotError.trim() !== '') {
        var alertPlaceholder = $('#customAlertPlaceholder');
        var alertHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'
            + dentistSlotError
            + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span>'
            + '</button></div>';
        alertPlaceholder.html(alertHtml);

        setTimeout(function () {
            alertPlaceholder.children('.alert').alert('close');
        }, 5000);
    }

    var dentistSlotSuccess = '@dentistSlotSuccess';
    if (dentistSlotSuccess.trim() !== '') {
        var alertPlaceholder = $('#customAlertPlaceholder');
        var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
            + dentistSlotSuccess
            + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span>'
            + '</button></div>';
        alertPlaceholder.html(alertHtml);

        setTimeout(function () {
            alertPlaceholder.children('.alert').alert('close');
        }, 5000);
    }

</script>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
</body>
