@page
@model DentistBooking.Pages.GuestPage.BookingAppointmentModel
@{
    Layout = null;
    var currentTime = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
    var resultMessage = TempData["Book"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoodDentist - Booking with ease</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Good dentist" name="keywords">
    <meta content="Good dentist" name="description">
    <link href="DentistBooking.styles.css" rel="stylesheet">
    <link href="img/favicon.ico" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Mon - Tues : 6.00 am - 10.00 pm, Sunday Closed </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@gooddentist.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+84 123 456</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/home" class="navbar-brand p-0">
            <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>Good Dentist</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/home" class="nav-item nav-link active">Home</a>
                <a href="/clinic-info" class="nav-item nav-link">About</a>
                <a href="/clinic-services" class="nav-item nav-link">Service</a>
            </div>
            <a href="/clinic-booking" class="btn btn-primary py-2 px-4 ms-3">Appointment</a>
            <button class="btn btn-dark px-4 ms-3 py-2 "><a href="/login" class="text-white text-decoration-none">Sign Up</a></button>
        </div>
    </nav>
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Appointment</h1>
                <a href="/home" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="#" class="h4 text-white">Appointment</a>
            </div>
        </div>
    </div>
    <!-- Appointment Start -->
    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">We Are A Certified and Award Winning Dental Clinic You Can Trust</h1>
                        <p class="text-white mb-0">Our clinic stands out for its dedication to excellence and patient satisfaction. With a team of highly skilled professionals, we offer comprehensive dental care tailored to your needs. From routine check-ups to advanced treatments, we ensure every visit is comfortable and effective. Trust us to provide top-quality dental services in a friendly and welcoming environment.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s" id="appointment-form">
                        <h1 class="text-white mb-4">Make Appointment</h1>
                        <form method="post">
                            <div class="row g-3">
                                <div class="col-12 col-sm-12">
                                    <label for="Name" class="text-start w-100">Your Name</label>
                                    <input type="text" asp-for="Name" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label for="Email" class="text-start w-100">Your Email</label>
                                    <input type="email" asp-for="Email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label for="PhoneNumber" class="text-start w-100">Your Phone Number</label>
                                    <input type="text" asp-for="PhoneNumber" class="form-control bg-light border-0" placeholder="Your Phone Number" style="height: 55px;">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <label for="Gender" class="text-start w-100">Select Gender</label>
                                    <select asp-for="Gender" class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected disabled>Select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <label for="Dob" class="text-start w-100">Date of Birth</label>
                                    <input type="date" asp-for="Dob" class="form-control bg-light border-0" style="height: 55px;" min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    <span asp-validation-for="Dob" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="SelectedServiceId" class="text-start w-100">Select A Service</label>
                                    <select asp-for="SelectedServiceId" class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected disabled>Select A Service</option>

                                        @if (Model.Services != null)
                                        {
                                            @foreach (var service in Model.Services)
                                            {
                                                <option value="@service.ServiceId">@service.ServiceName</option>
                                            }
                                        }
                                        else
                                        {
                                            <option disabled>No services</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SelectedServiceId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="AppointmentTime" class="text-start w-100">Appointment Time</label>
                                    <input type="datetime-local" asp-for="AppointmentTime" class="form-control bg-light border-0" min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" style="height: 55px;">
                                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Make Appointment</button>
                                </div>
                            </div>
                        </form>
                        @if (TempData["Book"] != null)
                        {
                            <div class="alert @((TempData["Book"].ToString().StartsWith("Appointment created successfully") ? "alert-success" : "alert-danger"))">
                                @TempData["Book"]
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        window.addEventListener('load', function () {
            // Check if there are errors or messages in TempData

            if (@Model.ModelState.ErrorCount> 0 || TempData["Book"] !== '') {
                document.getElementById('appointment-form').scrollIntoView();
            }

            // Set the min value for datetime-local input
            var dateInput = document.querySelector('input[type="datetime-local"]');
            if (dateInput) {
                var now = new Date();
                var formattedDate = now.toISOString().slice(0, 16); // Format: YYYY-MM-DDTHH:MM
                dateInput.min = formattedDate;
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>
