@page
@model DentistBooking.Pages.DentistPage.Appointments.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_DentistLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Appointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Appointment.AppointmentId)
        </dd>
    </dl>
</div>
@if (Model.Prescription.PrescriptionMedicines != null && Model.Prescription.PrescriptionMedicines.Any())
{
    <div>
        <h4>Medicines</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Prescription.PrescriptionMedicines.FirstOrDefault().Medicine.MedicineName)</th>
                    <th>@Html.DisplayNameFor(model => model.Prescription.PrescriptionMedicines.FirstOrDefault().Quantity)</th>
                    <th>@Html.DisplayNameFor(model => model.Prescription.PrescriptionMedicines.FirstOrDefault().Price)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prescriptionMedicine in Model.Prescription.PrescriptionMedicines)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => prescriptionMedicine.Medicine.MedicineName)</td>
                        <td>@Html.DisplayFor(modelItem => prescriptionMedicine.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => prescriptionMedicine.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription.PrescriptionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>
