@page
@model DentistBooking.Pages.DentistPage.Prescriptions.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Appointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Appointment.AppointmentId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prescription.PrescriptionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
