@page
@model DentistBooking.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].DentistSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].MedicalRecord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DentistSlot.DentistSlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalRecord.MediaRecordId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
