@page
@using BusinessObject
@using Microsoft.IdentityModel.Tokens
@model DentistBooking.Pages.StaffPages.ProcessingAppointmentModel
@{
    ViewData["Title"] = "Appointment Detail";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
    var appointmentError = TempData["ErrorProcessingAppointment"] as string;
    var appointmentSuccess = TempData["SuccessProcessingAppointmentError"] as string;
    var dentistSlotError = TempData["ErrorProcessingAppointment_DentistSlot"] as string;
    var dentistSlotSuccess = TempData["SuccessProcessingAppointment_DentistSlot"] as string;
}

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Appointment Detail</h3>
        </div>
        <div class="card-body">
            @if (Model.Appointment != null)
            {
                <form method="post" asp-page-handler="Update">
                    <input type="hidden" asp-for="@Model.Appointment.AppointmentId" />
                    <input type="hidden" asp-for="@Model.Appointment.CustomerId" />

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Time Start</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" id="timeStart" class="form-control" asp-for="@Model.Appointment.TimeStart" />
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Time End</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" asp-for="@Model.Appointment.TimeEnd" />
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Customer</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control-plaintext" value="@Model.Appointment.Customer?.Name" readonly />
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Diagnosis</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="@Model.Appointment.Diagnosis" />
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Service</label>
                        <div class="col-sm-9">
                            <input type="text" value="@Model.Service.ServiceName" readonly />
                            <input  type="hidden" asp-for="@Model.Appointment.ServiceId"/>
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="@Model.Appointment.Status" readonly />
                        </div>
                    </div>

                <div class="form-group row m-2">
                        <label class="col-sm-3 col-form-label">Dentist</label>
                        <div class="col-sm-6">
                            <select id="dentistId" name="Appointment.DentistSlot.DentistId" class="form-control">
                                @if (!Model.Dentists.IsNullOrEmpty() && Model.Dentists.Count >= 2)
                                {
                                    @foreach (var s in Model.Dentists)
                                    {
                                        <option value="@s.UserId">@s.Name</option>
                                    }
                                }else if (!Model.Dentists.IsNullOrEmpty() && Model.Dentists.Count is > 0 and < 2)
                                {
                                    <option value="@Model.Dentists[0].UserId">@Model.Dentists[0].Name</option>
                                }
                            </select>
                        </div>

                </div>

                <div class="form-group row m-2">
                    <label class="col-sm-3 col-form-label">Dentist slot</label>
                    <div class="col-sm-9">
                        @if (Model.Appointment.DentistSlot != null)
                        {
                            <input type="text" value="@Model.Appointment.DentistSlot.TimeStart.ToString("yyyy-MM-dd") [@Model.Appointment.DentistSlot.TimeStart.ToString("HH:mm") - @Model.Appointment.DentistSlot.TimeEnd.ToString("HH:mm")]" readonly />
                            <input type="hidden" asp-for="Appointment.DentistSlotId" />
                        }
                        else if(Model.Appointment.DentistSlot == null && !Model.DentistSlot.IsNullOrEmpty())
                        {
                        <select id="dentistSlotId" name="Appointment.DentistSlotId" class="form-control">
                            @if (!Model.DentistSlot.IsNullOrEmpty() && Model.DentistSlot[0] != null)
                            {
                                @foreach (var s in Model.DentistSlot)
                                {
                                 <option value="@s.DentistSlotId">@s.TimeStart.TimeOfDay - @s.TimeEnd.TimeOfDay</option>
                                }
                            }else
                            {
                                <option value="0">No slot found</option>
                            }
                        </select>
                        }
                        else
                        {
                            <input type="text" value="No available slots" readonly />
                            <button type="button" class="btn btn-info btn-block" id="createSlotButton" data-toggle="modal" data-target="#createSlotModal">Create slot for this date</button>
                            <input type="hidden" asp-for="Appointment.DentistSlotId" value="0" />
                        }
                    </div>
                </div>
                    
                
                <div class="form-group row text-center m-2">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-primary btn-block" id="updateButton">Update</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Appointment not found.
                </div>
            }
        </div>
        <br />
        <div id="customAlertPlaceholder"></div>
    </div>

<div class="text-center">
    <a href="./ProcessingAppointmentList" class="btn btn-primary btn-sm mt-3">Back</a>
</div>

<!-- Modal -->
<div class="modal fade" id="createSlotModal" tabindex="-1" role="dialog" aria-labelledby="createSlotModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="CreateDentistSlot">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSlotModalLabel">Create Slot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Time Range</label>
                            <input type="text" class="form-control" value="@Model.TimeRange" readonly />
                        </div>
                        
                        <label for="roomSelect">Select Room</label>
                        <select class="form-control" id="roomSelect" asp-for="RoomId">
                            @if (!Model.Rooms.IsNullOrEmpty() && Model.Rooms.Count > 0)
                            {
                                @foreach (var r in Model.Rooms)
                                {
                                    <option value="@r.RoomId">@r.RoomNumber</option>
                                }
                            }
                            else
                            {
                                <option value="0">No available rooms</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var appointmentError = '@appointmentError';
        if (appointmentError.trim() !== '') {
            var alertPlaceholder = $('#customAlertPlaceholder');
            var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                + appointmentError
                + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                + '<span aria-hidden="true">&times;</span>'
                + '</button></div>';
            alertPlaceholder.html(alertHtml);

            setTimeout(function () {
                alertPlaceholder.children('.alert').alert('close');
            }, 5000);
        }
        
        var appointmentSuccess = '@appointmentSuccess';
                if (appointmentSuccess.trim() !== '') {
                    var alertPlaceholder = $('#customAlertPlaceholder');
                    var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                        + appointmentSuccess
                        + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                        + '<span aria-hidden="true">&times;</span>'
                        + '</button></div>';
                    alertPlaceholder.html(alertHtml);
        
                    setTimeout(function () {
                        alertPlaceholder.children('.alert').alert('close');
                    }, 5000);
                }
        
        var dentistSlotError = '@dentistSlotError';
                if (dentistSlotError.trim() !== '') {
                    var alertPlaceholder = $('#customAlertPlaceholder');
                    var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                        + dentistSlotError
                        + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                        + '<span aria-hidden="true">&times;</span>'
                        + '</button></div>';
                    alertPlaceholder.html(alertHtml);
        
                    setTimeout(function () {
                        alertPlaceholder.children('.alert').alert('close');
                    }, 5000);
                }

        var dentistSlotSuccess = '@dentistSlotSuccess';
                if (dentistSlotSuccess.trim() !== '') {
            var alertPlaceholder = $('#customAlertPlaceholder');
            var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                + dentistSlotSuccess
                + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                + '<span aria-hidden="true">&times;</span>'
                + '</button></div>';
            alertPlaceholder.html(alertHtml);

            setTimeout(function () {
                alertPlaceholder.children('.alert').alert('close');
            }, 5000);
        }

        $('#dentistId').change(function () {
            var dentistId = $(this).val();
            var timeStart = '@Model.Appointment.TimeStart.ToString("yyyy-MM-ddTHH:mm:ss")';
            console.log(dentistId);
            console.log(timeStart);
            $.getJSON('@Url.Page("/StaffPages/ProcessingAppointment", "GetDentistSchedule")', {
                dentistId: dentistId,
                timeStart: timeStart
            })
                .done(function (response) {
                    var dentistSlot = $('#dentistSlotId');
                console.log(response);
                    if (response.success) {
                        // Clear previous options
                        dentistSlot.empty();
                        // Add new options from response
                        $.each(response.schedule,  function (index, item){
                        console.log(item.TimeStart)

                            dentistSlot.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    } else {
                        // Handle error or no slots found
                        dentistSlot.empty();
                        dentistSlot.append($('<option>', {
                            value: '0',
                            text: response.message
                        }));
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX request failed:', textStatus, errorThrown);
                });
        });
    });
</script>
