@page
@model DentistBooking.Pages.StaffPages.ProcessingAppointmentListModel
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
    var success = TempData["SuccessDeleteAppointment"] as string;
}

<h1 class="mb-4">Processing Appointments</h1>

<br />
<div id="customAlertPlaceholder"></div>
<br />

@if (Model.Appointments != null && Model.Appointments.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Time Start</th>
                    <th scope="col">Dentist</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Service</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in @Model.Appointments)
                {
                    <tr>
                        <td>@appointment.TimeStart.ToString("MM/dd/yyyy")</td>
                        <td>@appointment.TimeStart.ToString("hh\\:mm tt")</td>
                        @if (appointment != null)
                        {
                            @if (appointment.DentistSlot == null && appointment.CreateByNavigation == null)
                            {
                                <td></td>
                            }
                            else if(appointment.CreateByNavigation != null)
                            {
                                <td>@appointment.CreateByNavigation.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (@appointment.Customer == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@appointment.Customer.Name</td>
                            }
                            
                            @if (@appointment.Service == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@appointment.Service.ServiceName</td>
                            }
                            
                            <td>@appointment.Status</td>
                            <td>
                                <a asp-page="./ProcessingAppointment" asp-route-id="@appointment.AppointmentId" class="btn btn-primary btn-sm">Assign</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No appointments found.
    </div>
}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


<script>
    
    $(document).ready(function () {
        var success = '@success';
        if (success.trim() !== '') {
            var alertPlaceholder = $('#customAlertPlaceholder');
            var alertHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                + success
                + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                + '<span aria-hidden="true">&times;</span>'
                + '</button></div>';
            alertPlaceholder.html(alertHtml);

            setTimeout(function () {
                alertPlaceholder.children('.alert').alert('close');
            }, 3000);
        }
    });

</script>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>

