@page
@model DentistBooking.Pages.StaffPages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="SelectedDate" for="datepicker">Select Date:</label>
                <input asp-for="SelectedDate" type="date" id="datepicker" name="SelectedDate" class="form-control" autocomplete="off">
            </div>
            <div class="form-group ">
                <label class="col-sm-3 col-form-label">Time Start : </label>
                <div class="col-sm-9">
                    <input type="time" id="slotTimeStart" name="DentistSlotTimeStart" asp-for="DentistSlotTimeStart" class="form-control" required min="08:00" max="19:00"/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-3 col-form-label">Time End : </label>
                <div class="col-sm-9">
                    <input type="time" id="slotTimeEnd" name="DentistSlotTimeEnd" asp-for="DentistSlotTimeEnd" class="form-control" required min="08:15" max="19:30"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.CustomerId" class="control-label"></label>
                <select asp-for="Appointment.CustomerId" class="form-control" asp-items="ViewBag.CustomerId" id="CustomerId"></select>
                <span asp-validation-for="Appointment.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.MedicalRecordId" class="control-label">Medical Record</label>
                <select name="Appointment.MedicalRecordId" id="MedicalRecordId" class="form-control">
                    @if (Model.MedicalRecords != null)
                    {
                    @foreach (var s in Model.MedicalRecords)
                    { <option value="@s.MediaRecordId"> @s.Customer.Name - @s.Diagnosis</option> }
                    }
                </select>
                <span asp-validation-for="Appointment.ServiceId" class="text-danger"></span>
                <span asp-validation-for="Appointment.MedicalRecordId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Diagnosis" class="control-label"></label>
                <input asp-for="Appointment.Diagnosis" class="form-control" />
                <span asp-validation-for="Appointment.Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Status" class="control-label"></label>
                <select name="Appointment.Status" class="form-control">
                    @if (Model.Status != null)
                    {
                        @foreach (var s in Model.Status)
                        { <option value="@s">@s</option> }
                    }
                </select>
                <span asp-validation-for="Appointment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ServiceId" class="control-label">Service</label>
                <select name="Appointment.ServiceId" id="ServiceId" class="form-control">
                    @if (Model.Services != null)
                    {
                    @foreach (var s in Model.Services)
                    { <option value="@s.ServiceId">@s.ServiceName</option> }
                    }
                </select>
                <span asp-validation-for="Appointment.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DentistSlotId" class="control-label">Dentist</label>
                <select id="DentistSlotId" asp-for="Appointment.DentistSlotId" class="form-control">
                    @if (Model.DentistSlots != null)
                    {
                    @foreach (var s in Model.DentistSlots)
                    {
                    <option value="@s.DentistSlotId">@s.Dentist.Name [@s.TimeStart.TimeOfDay - @s.TimeEnd.TimeOfDay]</option>
                    }
                    }
                </select>
                <span asp-validation-for="Appointment.DentistSlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            const dateControl = document.querySelector('input[type="date"]');
            const today = new Date().toISOString().split('T')[0];
            dateControl.value = today;
        });
        $(document).ready(function () {
            $('#ServiceId').change(function () {
                var serviceId = $(this).val();
                var selectedDate = $('#datepicker').val();
                var timeStart = $('#slotTimeStart').val();

                $.getJSON('@Url.Page("/StaffPages/Appointments/Create", "DentistSlotByService")', {
                    serviceId: serviceId,
                    selectedDate: selectedDate,
                    timeStartt: timeStart
                })
                    .done(function (response) {
                        var dentistSlotSelectList = $('#DentistSlotId');
                        dentistSlotSelectList.empty();

                        if (response.success === false) {
                            dentistSlotSelectList.append($('<option>', {
                                value: '',
                                text: response.message
                            }));
                        } else {
                            $.each(response.dentistSlotSelectList, function (index, item) {
                                dentistSlotSelectList.append($('<option>', {
                                    value: item.value,
                                    text: item.text
                                }));
                            });
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.error('AJAX request failed:', textStatus, errorThrown);
                    });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const slotTimeStart = document.getElementById('slotTimeStart');
            const slotTimeEnd = document.getElementById('slotTimeEnd');

            function validateTime(time) {
                const hour = parseInt(time.split(':')[0]);
                const minute = parseInt(time.split(':')[1]);
                if ((hour >= 8 && hour < 11) || (hour === 11 && minute <= 30) || (hour >= 13 && hour <= 19) || (hour === 19 && minute <= 30)) {
                    return true;
                }
                return false;
            }

            function onTimeChange(event) {
                const time = event.target.value;
                if (!validateTime(time)) {
                    alert('Please select a time start within the allowed range: 08:00-11:30 and time end within the allowed range 13:00-19:30.');
                    event.target.value = '';
                }
            }

            slotTimeStart.addEventListener('change', onTimeChange);
            slotTimeEnd.addEventListener('change', onTimeChange);
        });
    
    </script>
}
