@page
@model DentistBooking.Pages.AdminPage.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Dob)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.User[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.User[0].CreatedDate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Clinic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td> *@
                @if (item.Status == true)
                {
                    <td> Active </td>
                }else {<td> Inactive </td>}
            @* <td>
                    @Html.DisplayFor(modelItem => item.Status)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (Model.User.HasPreviousPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.User.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
    }
    else
    {
        <span>Previous</span>
    }

    @if (Model.User.HasNextPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.User.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
    }
    else
    {
        <span>Next</span>
    }
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script src="~/js/site.js"></script>