@page
@model DentistBooking.Pages.AdminPage.Clinics.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-bordered  bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clinic)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ClinicId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ClinicId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClinicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Model.Clinic.HasPreviousPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.Clinic.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
    }
    else
    {
        <span>Previous</span>
    }

    @if (Model.Clinic.HasNextPage)
    {
        <a asp-page="./Index" asp-route-pageNumber="@(Model.Clinic.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
    }
    else
    {
        <span>Next</span>
    }
</div>
